#adapter-view-container {
  padding: 12px;
  padding-top: 25px;
  height: calc(100% - 39px);
  display: flex;
  flex-direction: column;
}

#adapter-view-container h2 {
  text-align: center;
}

#adapter-view-container .subtitle-container {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 25px;
}

#adapter-view-container .help-tip {
  display: inline-block;
  margin-left: 5px;
}

#adapter-view-container h3 {
  line-height: 20px;
  opacity: 50%;
  width: inherit;
  display: inline-block;
}

#adapter-view-container .driver-request {
  margin-top: auto;
}

#adapter-view-container .ios-select {
  width: 57%;
}

#adapter-view-container .ios-select select {
  width: 100%;
}
