@import './ConfigPanel.css';
@import './IosSelect.css';
@import './IosButton.css';
@import './DeviceDrawer.css';
@import './TitleBar.css';
@import './DeviceView.css';
@import './DevicePanel.css';
@import './DeviceLayout.css';
@import './DeviceIcon.css';
@import './HelpTip.css';
@import './AdapterView.css';
@import './DriverRequestButton.css';
@import './WarningIcon.css';
@import './SwitchPanel.css';
@import './SectionHeader.css';
@import './NicknameSubpanel.css';
@import './DeviceListPanel.css';
@import './PluginSubpanel.css';
@import './DeviceDetailsPanel.css';
@import './DetailsPanel.css';
@import './Subpanel.css';
@import './InputDefaultsSubpanel.css';
* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}
*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 1em;
}

body {
  height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  user-select: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

*:focus {
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
strong {
  color: #272727;
  font-family: Arial;
  user-select: none;
}

h1 {
  font-size: 0.8em;
  color: #4a4848;
}

h5 {
  font-size: 12px;
}

label {
  font-size: 0.8em;
  color: #4a4848;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#main-content {
  height: calc(100% - 30px);
  max-width: 100%;
}

.top-level {
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

.center-vert {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.border-red {
  border: 1px solid red !important;
}

.border-green {
  border: 1px solid green !important;
}

.hoverable {
  cursor: pointer !important;
}
