#config-panel {
  background-color: #f4f0f1;
  z-index: 1000;
  overflow-x: hidden;
  width: calc(100% - 16px);
  padding-left: 8px;
  padding-right: 8px;
  justify-content: center;
  position: relative;
  overflow-y: overlay;
}

#config-panel h3 {
  color: #272727;
  font-family: Arial;
  font-weight: bold;
  width: 100%;
  text-align: center;
  line-height: 50px;
  font-size: 0.8em;
}

#config-panel p {
  font-size: 13px;
  font-family: Arial;
}

#config-panel .label {
  width: 38%;
  vertical-align: top;
  display: inline-block;
}

#config-panel .settings-line {
  text-align: left;
  padding-top: 6px;
}

#config-panel #controls-container {
  text-align: center;
}

#config-panel #controls-container button {
  margin: 0 auto;
  margin-top: 12px;
}

#config-panel #controls-container .settings-line {
  margin-top: 5px;
}

#config-panel #controls-container #absolute-values {
  text-align: left;
  position: relative;
}

#config-panel #controls-container #absolute-values .help-tip {
  margin-left: 5px;
  margin-top: 10px;
}

#config-panel #controls-container #absolute-values .help-tip p {
  width: 200px;
}

#config-panel #controls-container #absolute-values > div {
  display: inline-block;
}

#config-panel #controls-container .settings-line > p {
  display: inline-block;
  vertical-align: top;
  line-height: 18px;
}

#config-panel select {
  vertical-align: top;
  max-width: 140px;
  margin-left: 5px;
}

#config-panel .settings-line.fx-setting select {
  width: 60px;
}

#config-panel .settings-line * {
  vertical-align: top;
}

#config-panel .message {
  width: 100%;
  text-align: center;
  left: 0;
}

#config-panel .message p {
  width: 100%;
  line-height: 50px;
}

#config-panel .color-sample {
  height: 16px;
  width: 16px;
  display: inline-block;
  border-radius: 3px;
  margin-right: 3px;
  border: 1px solid #dbd7d8;
  margin-left: 8px;
}
#config-panel .separator {
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  margin-top: 12px;
}

#config-panel .settings-line.color-setting {
  position: relative;
  height: auto;
  margin-top: 4px;
}

#config-panel #backlight-config {
  text-align: left;
}

#config-panel .fx-setting .slider {
  display: inline-block;
  width: 55%;
  margin-top: 6px;
  margin-left: 15px;
  height: 20px;
}

#config-panel .fx-setting .slider p {
  font-size: 9px;
  opacity: 0.7;
}

#device-config {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 20px;
  text-align: left;
}

#device-config p {
  width: 36%;
  line-height: 20px;
  display: inline-block;
}

#device-config input {
  padding: 2px;
  padding-left: 4px;
  color: #262626;
  border: 1px solid #dbd7d8;
  border-bottom: 1px solid #b8b6b7;
  border-radius: 4px;
  vertical-align: top;
  max-width: 135px;
}

#device-config #nickname {
}

#device-config #remove-device button.disabled {
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.2);
}

#device-config .share-sustain {
  height: 28px;
}

#device-config .share-sustain input {
  margin-top: 7px;
  cursor: pointer;
  margin-right: 6px;
}

#device-config .share-sustain p {
  width: calc(100% - 50px);
  line-height: 28px;
}

#device-config h4 {
  color: #272727;
  margin-top: 12px;
  margin-bottom: 4px;
  font-family: Arial;
  font-weight: bold;
  font-size: 0.8em;
}

#device-config #remove-device input {
  margin-top: 4px;
}

#device-config #remove-device button {
  cursor: auto;
  height: 21px;
  margin-top: 4px;
  width: calc(100% - 180px);
  margin-left: 4px;
}

#device-config #remove-device p {
  width: calc(100% - 20px);
}
