@keyframes blink {
  50.0% {
    background-color: transparent;
  }
}

@keyframes Blink {
  50.0% {
    background-color: transparent;
  }
}

@keyframes Pulse {
  50.0% {
    background-color: transparent;
  }
}

/* positional stuff for the device layout really belongs in a parent file */
.device-layout {
  margin-left: 50%;
  position: relative;
  top: 50%;
  aspect-ratio: var(--r);
  transform: translate(-50%, -50%);
  width: min(90%, min(calc(100vh - 32px), calc(100vh - 32px) * (var(--r))));
  border: solid 1px #bcbec0;
  max-height: 90%;
}

.device-layout .input-container .input-wrapper .noninteractive,
.device-layout .keyboard-container.disabled,
.device-layout .keyboard-container.disabled .key,
.device-layout .keyboard-container.disabled .key:last-of-type {
  border-color: #bcbec0;
}

.device-layout .device-root {
  height: 100%;
}

.device-layout .input-grid {
  position: absolute !important;
}

.device-layout .input-container {
  display: inline-block;
  float: left;
  position: relative;
  text-align: center;
}

.device-layout .focus .pad,
.device-layout .focus .switch,
.device-layout .focus .wheel,
.device-layout .focus .knob .outer {
  border-style: dashed !important;
  filter: sepia(0.2);
}

.device-layout .pad {
  position: absolute;
  border: 1px solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
  animation-fill-mode: both;
  width: 100%;
  height: 100%;
}

.device-layout .input-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.device-layout .hoverable:hover {
  filter: sepia(0.1);
}

.device-layout .hoverable:active:hover {
  filter: sepia(0.2);
}

.device-layout .knob {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 50%;
  margin-top: 50%;
  transform: translate(-50%, -50%);
}

.device-layout .knob .inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: bottom 0.1s linear;
}

.device-layout .knob .outer {
  border: 1px solid;
  overflow: hidden;
  position: absolute;
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
}

.device-layout .knob .inner .grip {
  position: absolute;
  width: 5%;
  height: 30%;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: #bcbec0;
}

.device-layout.configured .knob .inner .grip {
  background: #3a84e9;
}

.device-layout .keyboard-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.device-layout .octave {
  height: 100%;
  display: inline-block;
  position: relative;
  display: flex;
}

.device-layout .key {
  border-left: 1px solid;
  display: inline-block;
  flex: 1;
}

.device-layout .key-black {
  position: absolute;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  top: 0;
  height: 60%;
  background-color: #e6e2e3;
  width: 10%;
}

.device-layout .key-white {
  height: 100%;
}

.device-layout .wheel {
  position: relative;
  border: 1px solid;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.device-layout .switch {
  position: relative;
  border: 1px solid;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.device-layout .switch .inner {
  border: 1px solid;
  position: absolute;
  transition: bottom 0.1s linear;
}

.device-layout .wheel .inner {
  border: 1px solid;
  position: absolute;
  transform: translateY(50%);
  transition: bottom 0.1s linear;
}

.device-layout .wheel .bounding-box {
  position: absolute;
  width: 100%;
}

.device-layout .xy {
  position: relative;
  border: 1px solid;
}

.device-layout .xy .inner {
  border: 1px solid;
  border-radius: 100%;
  position: absolute;
  background-color: #e6e2e3;
}

.device-layout .svg-wrapper {
  text-align: center;
}

.device-layout svg {
  max-width: 50%;
  padding: 40px;
  max-height: 90%;
}
