.device-details-panel #remove-device {
  padding: 0 5px 0 5px;
  display: flex;
  margin-bottom: 8px;
}

.device-details-panel #remove-device button.disabled {
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.2);
}

.device-details-panel #remove-device input {
  margin-top: 4px;
  padding: 2px;
  padding-left: 4px;
  color: #262626;
  border: 1px solid #dbd7d8;
  border-bottom: 1px solid #b8b6b7;
  border-radius: 4px;
  vertical-align: top;
  flex-grow: 1;
}

.device-details-panel #remove-device button {
  cursor: auto;
  margin-top: 4px;
  width: 60px;
  margin-left: 4px;
}

.device-details-panel #remove-device p {
  width: calc(100% - 20px);
}
