#device-list {
  width: 230px;
  background-color: #f4f0f1;
  float: left;
  text-align: right;
  box-shadow: 1px 0 1px #dbd7d8;
  overflow-y: overlay;
  max-height: calc(100vh - 30px);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  border-radius: 1em;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

#device-list:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

.device-list-item {
  width: 220px;
  position: relative;
  display: inline-block;
  height: 49px;
  text-align: left;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 4px;
  margin-top: 10px;
}

.device-list-item:last-of-type {
  border-bottom: none;
}

.device-list-item .active {
  border-color: #3a84e9 !important;
}

.device-list-item.active h2,
.device-list-item.active p {
  color: #3a84e9;
}

.device-list-item h2 {
  color: #272727;
  font-size: 0.9em;
  height: 16px;
  margin-bottom: 2px;
}

.device-list-item p {
  color: #808080;
}

.device-list-item .connection-status {
  color: #808080;
  font-size: 0.8em;
  font-weight: normal;
  margin-left: 16px;
  line-height: 14px;
}

.device-list-item .configured {
  background-color: #61c355;
  border: solid 1px #52a43b;
}

.device-list-item .connected {
  background-color: #f5be4f;
  border: solid 1px #d89d3d;
}

.device-list-item .disconnected {
  background-color: #ed685e;
  border: solid 1px #d14e40;
}

.device-list-item .device-icon-container {
  width: 36px;
  height: 36px;
  left: 0;
  top: 0;
}

.device-list-item .device-list-item-label {
  left: 46px;
  position: absolute;
  top: 0;
  font-weight: bold;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: calc(100% - 48px);
}

.device-list-item .connection-color {
  border-radius: 100px;
  width: 8px;
  height: 8px;
  margin-top: 1px;
  position: absolute;
}

.device-list-item .id {
  font-size: 0.7em;
  font-weight: normal;
  margin-bottom: 6px;
}
