#device-panel {
  background-color: #e6e2e3;
  opacity: 0.95;
  width: 100%;
  height: 100%;
  position: relative;
}

#device-panel .device-container.disabled {
  pointer-events: none;
}

#device-panel .device-container .interactive-indicator {
  border-color: #bcbec0;
  pointer-events: none;
}

#device-panel .device-container.configured .interactive-indicator {
  border-color: #3a84e9;
  cursor: pointer;
  pointer-events: auto;
}

#no-devices {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#unsupported-device {
  width: 100%;
  text-align: center;
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  top: 50%;
  transform: translate(0, -50%);
}

#unsupported-device > * {
  display: inline-block;
}

#unsupported-device > p {
  color: rgba(0, 0, 0, 0.5);
}

#unsupported-device .help-tip {
  margin-left: 5px;
}

#unsupported-device .driver-request {
  display: block;
}
