button {
  color: #262626;
  border: 1px solid #dbd7d8;
  border-bottom: 1px solid #b8b6b7;
  border-radius: 4px;
  font-size: 0.7em;
  padding: 1px;
  height: 17px;
  cursor: pointer;
  padding-left: 6px;
  padding-right: 6px;
  background-color: white;
}
