.nickname-subpanel {
  display: flex;
  flex-direction: column;
}

.nickname-subpanel.deactivated label,
.nickname-subpanel.deactivated input {
  pointer-events: none;
  cursor: default;
  filter: grayscale(50%);
  opacity: 50%;
}

.nickname-subpanel label {
  line-height: 20px;
  display: inline-flex;
}

.nickname-subpanel input {
  padding: 2px;
  padding-left: 4px;
  color: #262626;
  border: 1px solid #dbd7d8;
  border-bottom: 1px solid #b8b6b7;
  border-radius: 4px;
  vertical-align: top;
  flex-grow: 1;
  margin-left: 5px;
}

.nickname-subpanel h1 {
  margin: 2px 0 8px 0;
}
