#title-bar {
  background-color: #f4f0f1;
  min-height: 30px;
  width: 100%;
  position: relative;
  -webkit-app-region: drag;
  z-index: 1000;
}

#title-bar div {
  height: 100%;
  float: left;
  display: inline-block;
}

#title {
  position: absolute;
  line-height: 30px;
  width: 100%;
  text-align: center;
}

#title-bar #shadow {
  box-shadow: 1px 1px 2px #dbd7d8;
  width: calc(100% - 230px);
  z-index: 0;
}

#title-bar #no-shadow {
  width: 230px;
  z-index: 9999;
  position: relative;
}
