#title-bar {
  background-color: #f4f0f1;
  min-height: 30px;
  width: 100%;
  position: relative;
  z-index: 1000;
  box-shadow: 1px 1px 2px #dbd7d8;
  z-index: 1;
}

#title-bar #drag-region {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  width: 90%;
}

#title-bar div {
  height: 100%;
  float: left;
  display: inline-block;
}

#title {
  position: absolute;
  line-height: 30px;
  width: 100%;
  text-align: center;
}

#title-bar #drag-region {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  width: 90%;
}

.drawer-toggles {
  right: 0;
  position: absolute;
  height: 100%;
  width: 60px;
  top: 6px;
}
.drawer-toggles img {
  margin-right: 8px;
  cursor: pointer;
}
