.translator-list-container {
  background-color: white;
  border: 1px solid #e5e5e5;
  height: 160px;
  width: calc(100% - 2px);
  overflow-y: scroll;
}

.-list-container .row.header {
  line-height: 28px;
  border-bottom: 1px solid #e5e5e5;
}

.translator-list-container .column {
  display: inline-block;
}

.translator-list-container .row {
  width: 100%;
  cursor: pointer;
  line-height: 24px;
}

.translator-list-container .column.event {
  width: 35% !important;
  margin-left: 8px;
}

.translator-list-container p.number,
.translator-list-container p.channel,
.translator-list-container p.value {
  width: 20% !important;
}

.translator-list-container .row.selected {
  background-color: #dbdbdd;
}

.translator-list-container .row.recent {
  font-style: italic;
  border-bottom: 1px solid #e5e5e5;
}

#translator-pad-wrapper .settings-line {
  margin-left: 0;
}

#translator-pad-wrapper h4 {
  color: #272727;
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  line-height: 50px;
  font-size: 0.8em;
}
