.warning-icon {
  position: absolute;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  line-height: 18px;
  cursor: default;
  font-weight: normal;
  font-family: Arial;
  z-index: 1000;
}

.warning-container img {
  opacity: 0.8;
}

.warning-icon:before {
  margin-left: 1px;
  font-weight: bold;
  color: #fff;
}

.warning-icon:hover .tip-container {
  display: flex;
  transform-origin: 100% 0%;

  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}

.warning-icon .tip-container p {
  color: white;
  align-self: flex-end;
  background-color: #1e2021;
  position: relative;
  width: calc(100% - 40px);
  padding: 20px;
  border-radius: 3px;
}

.warning-icon .tip-container {
  /* The tooltip */
  display: none;
  text-align: left;
  width: 300px;
  white-space: pre-line;
  position: absolute;
  right: -7px;
  color: #fff;
  height: 200px;
  font-size: 13px;
  top: 25px;
  line-height: 1.4;
  right: 40px;
  transform: translateY(-100%);
}

.warning-icon p:before {
  /* The pointer of the tooltip */
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: #1e2021;
  right: -12px;
  bottom: 5px;
  transform: rotate(90deg);
}

.warning-icon .tip-container:after {
  /* Prevents the tooltip from being hidden */
  width: 100%;
  height: 40px;
  content: '';
  position: absolute;
  top: -40px;
  left: 0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 100%;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
