.device-layout .knob {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 50%;
  margin-top: 50%;
  transform: translate(-50%, -50%);
}

.device-layout .knob .inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: bottom 0.1s linear;
}

.device-layout .knob .outer {
  border: 1px solid;
  overflow: hidden;
  position: absolute;
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
}

.device-layout .knob .inner .grip {
  position: absolute;
  width: 5%;
  height: 30%;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: #bcbec0;
}

.device-container.configured .knob .inner .grip {
  background: #3a84e9;
}

.knob .endless-indicator {
  border: 4px dotted black;
  position: absolute;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
}
